html,
body,
main,
.CodeMirror {
  height: 100%;
}

body {
  border: 0;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

textarea {
  display: none;
}

.CodeMirror {
  width: 50%;
}

pre.CodeMirror-placeholder {
  color: #999;
}
